{
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-object-assign",
    "add-module-exports",
    "transform-decorators-legacy",
    "transform-class-properties"
   ]
}
